@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=family=Poppins&family=Yellowtail&display=swap');


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #503F4B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: #e9e9e9;
    width: 512px;
    height: 512px;
}

.name-bar {
    height: 96px;
    background-color: #C40D0D;
}

.toy-wrapper {
    border: 32px solid #C40D0D;
    border-radius: 16px;
}

.bottom-bar {
    background-color: #C40D0D;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -16px;
}

.name {
    padding: 0px;
    text-decoration: none;
    color: #FFB60A;
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
}

button {
    transition: all 0.1s ease;
    transition: background-color 0.5s;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #f6f7f2;
    height: 64px;
    width: 64px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 9px #2B2728;
}

button:hover {
    transition:  0.5 ease;
    background-color: rgb(169, 214, 255);
}

button:active {
    background-color: rgb(169, 214, 255);
    box-shadow: 0 5px #2B2728;
    transform: translateY(4px);
}

button img {
    height: 75%;
    width: 75%;
}